
html {
    background-color: #6aebf7; 
}

body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    width: 940px;
    margin: auto;
}

header {
    background-color: white;
    color: #0f6d75;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

#navbar {
    overflow: hidden;
    background-color: #0f6d75;
}

#navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
}

#navbar a:hover {
    background-color: #19b4c2;
    color: white;
}

section {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    color: white;
    background-color: #0f6d75;
    font-weight: 400;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
}

figure {
    text-align: center;
}

img {
    height: 350px;
}

.image {
    border: 1px solid rgba(7, 232, 245, 96);
    margin: auto;
    border-radius: 15px;
    padding: 5px;
}

.image-title {
    text-align: center;
}

.text-title {
    text-align: center;
}

p {
    padding: 10px;
}

footer {
    position:static;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #0f6d75;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
    font-size: .75em;
}

footer a {
    text-decoration: none;
    color: #0f6d75;
}
footer a:hover {
    text-decoration: underline;
}